/* ICOMOON
****************************/

@font-face {
    font-family: 'icomoon';
    src:url('icomoon/fonts/icomoon.eot?1fkqrs');
    src:url('icomoon/fonts/icomoon.eot?#iefix1fkqrs') format('embedded-opentype'),
        url('icomoon/fonts/icomoon.woff?1fkqrs') format('woff'),
        url('icomoon/fonts/icomoon.ttf?1fkqrs') format('truetype'),
        url('icomoon/fonts/icomoon.svg?1fkqrs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e600";
}
.icon-youtube:before {
    content: "\e601";
}
.icon-flattr:before {
    content: "\e602";
}


/* LOGO
****************************/
.logo_wrap {
    position: relative;
    z-index: 0;
    height: 0px;
}
.logo_wrap:last-child {
    z-index: 1;
}
.logo {
    height: 500px;
    width: 500px;
}
#logo {
    margin: 100px auto;
    height: 500px;
    width: 500px;
    overflow: hidden;
}
#logo_mask {
    background: url('img/maske.png') center center repeat transparent;
}
#logo_bg {
    background: white url('img/wasser.jpg');
    -webkit-animation:spin 120s linear infinite;
    -moz-animation:spin 120s linear infinite;
    animation:spin 120s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    #logo_mask {
        background-image: url('img/maske_2x.png');
        background-size: 500px 500px;
    }
    #logo_bg {
        background-size: 500px 500px;
    }
}

@media only screen
and (max-width : 500px) {
    #logo {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }
    .logo {
        height: 150px;
        width: 150px;
    }
    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
        #logo_mask {
            background-size: 150px 150px;
        }
        #logo_bg {
            background-size: 150px 150px;
        }
    }
}

/* FOOTER
****************************/

.social_wrap .social {
    text-decoration: none;
    line-height: 1em;
    font-size: 1em;
    color: #0a3351;
}
.social_wrap .social:hover {
    color: #2283c9;
}
