/* ICOMOON
****************************/

@font-face {
    font-family: 'icomoon';
    src:url('icomoon/fonts/icomoon.eot?-pga79y');
    src:url('icomoon/fonts/icomoon.eot?#iefix-pga79y') format('embedded-opentype'),
        url('icomoon/fonts/icomoon.woff?-pga79y') format('woff'),
        url('icomoon/fonts/icomoon.ttf?-pga79y') format('truetype'),
        url('icomoon/fonts/icomoon.svg?-pga79y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e600";
}
.icon-youtube:before {
    content: "\e601";
}
.icon-flattr:before {
    content: "\e602";
}
.icon-soundcloud:before {
    content: "\e603";
}



/* LOGO
****************************/
.logo_wrap {
    position: relative;
    z-index: 0;
    height: 0px;
}
.logo_wrap:last-child {
    z-index: 1;
}
.logo {
    height: 500px;
    width: 500px;
}
#logo {
    margin: 100px auto;
    height: 500px;
    width: 500px;
    overflow: hidden;
}
#logo_mask {
    background: url('img/maske.png') center center no-repeat transparent;
}
#logo_bg {
    background: white url('img/wasser.jpg');
    background-position: 0px 0px;
    -webkit-animation: move 60s linear infinite, spin 240s linear infinite;
    -moz-animation: move 60s linear infinite, spin 120s linear infinite;
    animation: move 60s linear infinite, spin 120s linear infinite;
}
#logo_drops {
    background: transparent url('img/drops.gif');
    background-position: center 0px;
    -webkit-animation: movedown 90s linear infinite;
    -moz-animation: movedown 90s linear infinite;
    animation: movedown 90s linear infinite;
}
#logo_drops2 {
    background: transparent url('img/drops2.gif');
    background-position: center 0px;
    -webkit-animation: movedown 83s linear infinite;
    -moz-animation: movedown 83s linear infinite;
    animation: movedown 83s linear infinite;
}
#logo_drops3 {
    background: transparent url('img/drops3.gif');
    background-position: center 0px;
    -webkit-animation: movedown 111s linear infinite;
    -moz-animation: movedown 111s linear infinite;
    animation: movedown 111s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes move { 100% { background-position: 1500px 0px; } }
@-webkit-keyframes move { 100% { background-position: 1500px 0px; } }
@keyframes move { 100% { background-position: 1500px 0px; } }

@-moz-keyframes movedown { 100% { background-position: center 2000px; } }
@-webkit-keyframes movedown { 100% { background-position: center 2000px; } }
@keyframes movedown { 100% { background-position: center 2000px; } }

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    #logo_mask {
        background-image: url('img/maske_2x.png');
        background-size: 500px 500px;
    }
    #logo_bg {
        background-size: 500px 500px;
    }
    #logo_drops, #logo_drops2, #logo_drops3 {
        background-size: 450px 2000px;
    }
}

@media only screen
and (max-width : 500px) {
    #logo {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }
    .logo {
        height: 150px;
        width: 150px;
    }
    #logo_drops, #logo_drops2, #logo_drops3 {
        background-size: 150px 500px;
    }
    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
        #logo_mask {
            background-size: 150px 150px;
        }
        #logo_bg {
            background-size: 150px 150px;
        }
    }
}

/* FOOTER
****************************/

.social_wrap .social {
    text-decoration: none;
    line-height: 1em;
    font-size: 1em;
    color: #0a3351;
}
.social_wrap .social:hover {
    color: #2283c9;
}
