@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: box-shadow linear 0.2s;
  }
}

ul.list-check {
  list-style: none;
  & > li > input:first-child {
    margin-right: 0.5rem;
    appearance: none;
    &::before {
      content: " ";
      display: inline-block;
      width: 0.8rem;
    }
    &:checked::before {
      content: "✔";
    }
  }
}
